.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
.env.*
.transcript.txt
transcript.txt
.cache/
*.log
THE SPIRIT AND THE BRIDE SAY COME   Day 1 Missions Crusade Night Service  May 17, 2026-640x360-avc1-mp4a.mp4
